# enable expirations
ExpiresActive On
# expire images, after a month in the client's cache
ExpiresByType image/jpeg A2592000
ExpiresByType image/gif A2592000
ExpiresByType image/x-icon A2592000
# Catch references to old pages that were .htm
RewriteEngine on
RewriteBase /
RewriteRule ^(.*)\.htm$ $1.html [R=permanent]
