<footer>
    <hr />
    <p class="footertext">This Web site, "The Times" and "Table Talk" are official organs of the Australian Timetable Association (ATA). Any item, paragraph or article appearing on this web site may be reproduced in any publication, however we ask that acknowledgement is made
        to the ATA, this site, and that the association is advised of the publication.
    </p>
    <p class="footertext">
        <a href="http://austta.org.au/index.html">ATA Home Page</a> |
        <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#119;&#101;&#098;&#109;&#097;&#115;&#116;&#101;&#114;&#064;&#097;&#117;&#115;&#116;&#116;&#097;&#046;&#111;&#114;&#103;&#046;&#097;&#117;">
        Email the webmaster</a> |
        <a href="https://www.facebook.com/AustralianTimetableAssociation">ATA on Facebook</a> |
        <a href="https://twitter.com/timetableassoc">ATA on Twitter</a> |
        <a href="https://github.com/austta">ATA on Github</a></p>
</footer>
